@model List<News>

    <h2>Все новости</h2>
    <table>
        <tr>
            <th>Наименование новости</th>
            <th>Фотография</th>
        </tr>

        @foreach(var news in Model){
        <tr>
            <td>@news.Name</td>
            <td>@news.Description</td>
            @foreach(var pic in news.Pictures){
            <td>@pic.Name</td>
            <td>
                <img src="@pic.Path" width=200>
            </td>
            }
        </tr>
        }
    </table>

    <style>
        td{
            display: flex;
            flex-direction: column;
        }
    </style>
